:root{
  --rich-black: #021626ff;
  --baby-powder: #fffffaff;
  --slate-gray: #628292ff;
  --red-cmyk: #e33030ff;
  --coquelicot: #f64409ff;
  --saffron: #e3b505ff;
  }
body {
  font-family: Arial, sans-serif;
  font-size: 100%;
  background-color: var(--rich-black);
  color: var(--baby-powder);
  margin: auto;
  max-width: 800px;
}
h1 {
  color: var(--red-cmyk);
  text-align: center;
}
h2, h3, h4 {
  color: var(--coquelicot);
  text-align: center;
}
.chapter-heading {
  color: var(--saffron)
}
a {
  color: rgb(80, 250, 123);
}
table, th, td {
  border: 1px solid var(--slate-gray);
  border-collapse: collapse;
  text-align: center;
}
.license {
  font-size: 60%;
}
footer {
  font-size: 60%;
  color: var(--baby-powder);
  background: var(--slate-gray);
  text-align: center;
  position: sticky;
  bottom: 0px;
  left: 0px;
  right: 0px;
}